# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.car-companion-frontend.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\car-companion\car-companion-frontend\.idea\.idea.car-companion-frontend.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
