@page "/cars"
@using CarCompanion.Shared.Contract.V1.Responses.Car
@using CarCompanion.UI.Services.Interfaces

@inject HttpClient Http
@inject IAuthService AuthService
@inject ICarService CarService
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService


<h3>
    Your cars:
</h3>

@if (_getUserCarsResponse == null)
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
        <table class="table">
            <thead>
            <tr>
                <td>MainName</td>
                <td>Brand</td>
                <td>Model</td>
                <td>Generation</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            @foreach (var car in _getUserCarsResponse.Cars)
            {
                <tr>
                    <td>@car.MainName</td>
                    <td>@car.Brand</td>
                    <td>@car.Model</td>
                    <td>@car.Generation</td>
                    <td>
                        <a href="cars/@car.CarId" >
                            More info
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table> 
}

@code {
    
    private GetUserCarsResponse _getUserCarsResponse;
    private const string Url = "http://localhost:8080/api/v1/cars";

    protected override async Task OnInitializedAsync()
    {
        if (!await AuthService.IsAuthorizedAsync())
        {
            NavigationManager.NavigateTo("Login");
        }

        _getUserCarsResponse = await CarService.GetUserCarsAsync();        
    }
}