@page "/cars/create"

@using CarCompanion.UI.Components.ShareCar
@using CarCompanion.UI.Components.Car

<div class="mx-auto">
    <div style="display: @shareKeyVisible">
        <UseShareKey ToggleForm="@ToggleVisibility" />
    </div>
    
    <div style="display: @createCarVisible">
        <CreateCarForm ToggleForm="@ToggleVisibility" />
    </div>
</div>


@code{
    private string shareKeyVisible = "none";
    private string createCarVisible = "block";

    private void ToggleVisibility()
    {
        var temp = shareKeyVisible;
        shareKeyVisible = createCarVisible;
        createCarVisible = temp;
    }
}