@page "/"

@using CarCompanion.UI.Services.Interfaces

@inject HttpClient Http
@inject IAuthService AuthService
@inject ICarService CarService
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService



<h1>Newsletter</h1>

there will be newsletter from car world

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (!await AuthService.IsAuthorizedAsync())
        {
            NavigationManager.NavigateTo("Login");
        }
    
    }

}