@page "/"

@using CarCompanion.UI.Services.Interfaces

@inject HttpClient Http
@inject IAuthService AuthService
@inject ICarService CarService
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService



<h1>Howdy! Welcome in car companion</h1>

You can add car, share car, manage expenses and more!

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (!await AuthService.IsAuthorizedAsync())
        {
            NavigationManager.NavigateTo("/auth");
        }
    
    }

}