<Bar
    Breakpoint="Breakpoint.Desktop"
    Background="Background.Light"
    ThemeContrast="ThemeContrast.Light">
    <BarToggler/>
    <BarMenu>
        <BarEnd>
            <BarItem>
                <BarLink To="logout" Title="Logout">
                    <Button Color="Color.Secondary" Outline="true">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </Button>
                </BarLink>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>