@inherits LayoutComponentBase

<div class=".container" style="padding-top: 200px ">
    <div class="row align-items-center">
        <div class="col">
        </div>
        <div class="col">
            <div class="card">
                <h4 class="card-header">Car Companion Login View</h4>
                <div class="card-body">
                    @Body
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>