@inherits LayoutComponentBase

<div class="d-flex vh-100">

    <div>
        <NavMenu/>
    </div>

    <div class="flex-fill">
        
        <div class="d-flex flex-row-reverse border-bottom" style="height: 58px">
            <a href="logout" class="btn btn-outline-primary rounded m-auto mr-1">Logout</a>
        </div>

        <div class="m-2">
            @Body
        </div>
        
    </div>

</div>

