@using CarCompanion.UI.Services.Interfaces
@inherits LayoutComponentBase

@inject IAuthService AuthService
@inject ILocalStorageService LocalStorageService

<div class="page">
    <div class="sidebar" >
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="logout">Logout</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>