<div class="border-right h-100">
    <div class="top-row pl-4 navbar">
        <img src="images/logo.png" width="140" alt="car companion logo">
    </div>
    
    <div class="d-flex flex-column justify-content-center">
    
        <NavLink class="btn m-2" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    
        <NavLink class="btn m-2" href="cars">
            <span class="fas fa-car" aria-hidden="true"></span> My cars
        </NavLink>
    </div>
</div>