<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CarCompanion</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div>
    <ul class="list-group">
        
        <li class="list-group-item">    
            <i class="fas fa-home"></i>           
            <a href="">Home</a> 
        </li>
        <li class="list-group-item">     
            <i class="fas fa-car"></i>          
            <a href="cars">My cars</a> 
        </li>
    </ul>
</div>
