<div class="top-row pl-4 navbar navbar-dark">
    <img src="wwwroot/logo.png" alt="car companion logo">
</div>

<div>
    <ul class="list-group">
        <li class="list-group-item">
            <i class="fas fa-home"></i>
            <a href="">Home</a>
        </li>
        <li class="list-group-item">
            <i class="fas fa-car"></i>
            <a href="cars">My cars</a>
        </li>
    </ul>
</div>